#acpMainView
{
    -fx-background-color: #333333;
}

#contactInfoPane

{
    -fx-background-color: #f2f2f2;
}

.text-field
{
    -fx-background-color: #333333;
    -fx-text-fill: #f2f2f2;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

Button
{
    -fx-background-color: #333333;
    -fx-text-fill: #f2f2f2;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#addTechnician, #removeTechnician, #newUser, #removeUser, #newProject, #newCustomer, #reOpenProject, #closeProject, #btnCustomerInfo, #draw
{
    -fx-background-color: #333333;
    -fx-border-width: 0px;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

#openFile, #btnSaveNewFile, #saveNote
{
    -fx-background-color: #E84910;
    -fx-text-fill: #f2f2f2;
    -fx-border-width: 0px;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#header1, #header2, #header3
{
    -fx-text-fill: #f2f2f2;
}



#lstTechniciansOnCase, #lstSalesPersons, #lstProjectManagers, #lstTechnicians
{
    -fx-background-color: #f2f2f2;

}



.tab-pane
{
    -fx-focus-color: #18263A;
}

.tab-header-area .tab-header-background
{
    -fx-background-color: #90AED6;
}

.tab-pane .tab:selected
{
    -fx-background-color: #18263A ;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #f2f2f2;
    -fx-font-weight: bold;
    -fx-padding: 0 10 0 10;
}

.tab-pane:top *.tab-header-area
{
    -fx-padding: 0 0 0 0;

    /* NO SPACE LEFT OF FIRST TAB */
    /* -fx-padding: 0 0 0 30; */
}

.tab-pane
{
    -fx-background-color: transparent;

}

.tab-pane .tab
{
    -fx-background-color: transparent;
}

.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator
{
    -fx-border-width: 0;
    -fx-border-insets: 0 0 0 0;
    -fx-border-radius: 0;
}






.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: transparent;

}

.table-view .column-header {
    -fx-background-color: #90AED6;
    -fx-text-background-color: #f2f2f2;

}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover {
    -fx-background-color: E84910;
    -fx-text-background-color: #E84910;
}

.table-row-cell:selected {
    -fx-background-color: E84910;
    -fx-text-background-color: #E84910;
}

.table-row-cell:odd{
    -fx-background-color: #f2f2f2;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #f2f2f2;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}



.list-cell:odd {
    -fx-background-color: #f2f2f2;
}

.list-cell:even {
    -fx-background-color: #f2f2f2;
}

.list-cell:filled:hover {
    -fx-text-background-color: #E84910;
}

.list-cell:selected{
    -fx-text-background-color: #E84910;

}














