#acpMainView
{
    -fx-background-color: #333333;
}

#contactInfoPane

{
    -fx-background-color: #f2f2f2;
}

.text-field
{
    -fx-background-color: #333333;
    -fx-text-fill: #f2f2f2;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

Button
{
    -fx-background-color: #333333;
    -fx-text-fill: #f2f2f2;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#addTechnician, #removeTechnician, #newUser, #removeUser, #newProject, #newCustomer, #reOpenProject, #closeProject
{
    -fx-background-color: #333333;
    -fx-border-width: 0px;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

#header1, #header2, #header3
{
    -fx-text-fill: #f2f2f2;
}






