#mainViewAnchorPane
{
    -fx-background-color: linear-gradient(to bottom, #90AED6 45%, #18263A);
}

.text-area
{
    -fx-background-color: #f2f2f2;
    -fx-text-fill: black;
    -fx-focus-color: transparent;
    -fx-background-radius: 5px;
    -fx-padding: 15px;
}

.text-area .content
{
    -fx-background-color: #f2f2f2;
}

#NotesTextAreaProject
{
    -fx-background-radius: 0 0 5 5;
}

.text-field
{
    -fx-background-color: #f2f2f2;
    -fx-text-fill: black;
    -fx-border-color: transparent;
    -fx-border-radius: 5px;
}

Button
{
    -fx-background-color: #f2f2f2;
    -fx-text-fill: black;
    -fx-border-color: transparent;
    -fx-background-radius: 5;
}

Button:pressed
{
    -fx-opacity: 0.50;
}

#newProjectButton, #newCustomerButton, #reOpenProjectButton, #closeProjectButton, #openUserWindowButton, #openProjectWindowButton, #openPDFButton,
#openMainWindowButton, #openNewEmployeeWindow, #removeEmployeeButton, #drawButton
{
    -fx-background-color: transparent;
    -fx-border-width: 0px;
    -fx-background-radius: 0;
}

#customerComboBox, #rolesComboBox, #listTechsComboBox
{
    -fx-background-color: #f2f2f2;
    -fx-text-fill: black;
}

.tab-header-area .tab-header-background
{
    -fx-background-color: #18263A;
    -fx-background-radius: 5 5 0 0;
}

.tab-pane .tab:selected
{
    -fx-background-color: #E84910;
    -fx-background-insets: 0 5 5 5;
    -fx-background-radius: 5 5 5 5;
}

.tab .tab-label
{
    -fx-alignment: CENTER;
    -fx-text-fill: #f2f2f2;
    -fx-padding: 0 10 5 10;
}

.tab-pane .tab
{
    -fx-background-color: transparent;
}

.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator
{
    -fx-border-width: 0;
}


.table-row-cell:hover
{
    -fx-text-background-color:  #90AED6;
}

.table-row-cell:selected
{
    -fx-text-background-color:  #90AED6;
}

.table-view
{
    -fx-background-color: #f2f2f2;
    -fx-text-background-color: black;
    -fx-background-radius: 0 0 5 5;
}

.table-view .scroll-bar *
{
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.table-view .column-header-background .filler
{
    -fx-background-color: transparent;
}

.table-view .corner
{
    -fx-background-color: transparent;
}

.table-view .column-header-background
{
    -fx-background-color: transparent;
}

.table-view .column-header
{
    -fx-background-color: #f2f2f2;
    -fx-text-background-color: black;
    -fx-text-alignment: left;
    -fx-font-size: 18;
}

.table-view .table-cell
{
    -fx-border-color: transparent;
    -fx-padding: 5 10 0 5;
    -fx-font-size: 18;
    -fx-background-color: #f2f2f2
}

#rectangle
{
    -fx-fill: #18263A;
}

.list-view
{
    -fx-background-radius: 0 0 5 5;
    -fx-background-color: #f2f2f2;
}

.list-cell
{
    -fx-font-size: 18;
    -fx-background-color: #f2f2f2;
}

.list-cell:filled:hover
{
    -fx-text-background-color: #90AED6;
}

.list-cell:selected
{
    -fx-text-background-color: #90AED6;
}

#vbxCreateNewProject, #vbxCreateNewCustomer, #newUserVbox
{
    -fx-background-color: #90AED6;
}

#NotesTextArea, #techsOnProjectListView
{
    -fx-font-size: 18;
}

#newCustomerErrorText, #errorMessageNewProject, #errorTextNewUser
{
    -fx-font-size: 18;
    -fx-text-background-color: red;
}

#filesIncludedColumn, #filesDateColumn
{
    -fx-alignment: CENTER;
}


/*
Add extra to the technician
 */

#newProjectButton,#reOpenProjectButton,#newCustomerButton,#openUserWindowButton, #closedProjectsTab,#searchBoxTextField, #techsTab
{
    -fx-opacity: 0;
}








